* {
  margin: 0;
  padding: 0; }

body {
  padding: 10px; 
  font-family: Arial, Helvetica, sans-serif;
}

.header-title {
  margin: 10px;
  font-size: 1em; 
}

.menu .menu-list {
  display: inline-block;
  width: 100px;
  margin: 10px; }
  .menu .menu-list a {
    text-decoration: underline; }

table {
  margin-top: 10px;
  width: 100%;
}
td {
  vertical-align: bottom;
  text-align: right;
  padding: 4px;
  padding-bottom: 10px;
  font-size: 13px;
}

.colorSelector {
  top: 10px;
}

.numeric {
  min-width: 32px;
}

td.section {
  vertical-align: top;
  font-size: 16px;
  border-top: 1px solid grey;
  border-left: 1px solid grey;
}
td.final {
  width: 100%;
}

td.slider {
  min-width: 100px !important;
  padding-right: 15px;
  padding-left: 15px;
}

.colorSelector {
}

p {
  margin-top: 25px;
  font-size: 10px;
  text-align: right;
}

